.toolbar {
    position: relative;
    right: 0px;
    background-color: White;
}

.toolbar a {
    background-color: White;
    font-size: 18px;
}

.landing_page a {
    width: 200px;
    background-color: #04aaa5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    padding: 10px;
    margin: 0px 0px 0px 50px;
}

.landing_page {
    background-color: white;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #04aaa5;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

body {
    width: 100%;
    min-height: 100%;
    background-color: #ededed;
}

.container {
    max-width: 100%;
    padding-left: 70px;
    padding-right: 70px;
}

.bdy {
    background-color: white;
}

.btn-sm {
    color: #ededed;
    background-color: #ededed;
    border-color: #ededed;
    opacity: 0.5;
}

.btn-sm:hover {
    opacity: 1.0;
}

.btn-active {
    color:#04aaa5;
    background-color:#04aaa5;
    border-color:#04aaa5;
    opacity: 1.0;
}


@media (max-width: 767px) {
    .toolbar, .toolbar a, .landing_page, .landing_page a {
        background-color: #04aaa5;
    }

    .bdy {
        background-color: white;
        border-color: #ededed;
    }
}

@media (min-width: 768px) {
    .bdy {
        border-radius: 30px;
        border-color: #ededed;
        box-sizing: border-box;
        border: 20px solid transparent;
        background-clip: padding-box;
    }
}





